  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li a:hover{
    color:darkviolet;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    padding: 8px;
    background-color: rgb(228, 228, 228);
    text-decoration: none;
  } 
  .center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid rgb(0, 0, 0);
  } 
  .center-text{
    text-align:center
  }
  body {
    background-image: url('../images/galliga background2.jpg');
  }

li a:hover {
  color: rgb(114, 114, 216);
  background-color: lightgrey;
  text-decoration: none;
}
.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid rgb(0, 0, 0);
} 
.center-text{
  text-align:center
}
body {
  background-image: url('../images/Art/background\ \(site\).png');
  background-size: 100%;
  background-repeat: no-repeat;
}

p, h3, h1 {
  color: aliceblue;
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid aliceblue;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

table, th, td {
  border: 2px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}
#link {
  color: cyan;
  text-decoration: none;
}
#link:hover {
  color:rgb(100, 138, 138);
  text-decoration: none;
}
.controls {
  color:cyan
}
.logo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  height:100px;
  width:100px;
  border: white solid 1px;
}